.btn-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 162px;
    left: 37px;
    width: 104px;
    height: 40px;
    background: #000;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
    z-index: 2;

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
    }

    p {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
    }
}
