@import "../../styles/_variables";

.categories {
    position: relative;
    overflow: hidden;
    background: #fff;
    z-index: 15;

    &__tabs {
        margin-left: 87px;

        @media screen and (max-width: 540px) {
            margin-left: 0;
        }

        @media screen and (max-width: 720px) {
            margin-left: 28px;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        text-align: start;
        margin: 0;
        padding: 0;

        li {
            margin-right: 5px;
            width: 100px;
            padding: 10px;
            cursor: pointer;
            font-size: 18px;
            line-height: 24px;
            border-bottom: 2px solid #fff;

            @media screen and (max-width: 480px) {
                font-size: 14px;
                width: auto;
            }

            @media screen and (max-width: 720px) {
                width: auto;
            }

            &:hover {
                color: #9d9d9d;
            }
            a {
                padding-bottom: 8px;
                &.active {
                    border-bottom: 3px solid $red;
                }
            }
        }
    }

    &--sticky {
        position: fixed;
        top: 0;
        width: 100%;
        transition: all 0.5s ease;
        animation: smoothScroll 1s forwards;
    }
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-142px);
    }

    100% {
        transform: translateY(0px);
    }
}
